:root {
  --background-color: #ecf0f1;
  --btn-color: #0987f2;
  --btn-text-color: #fff;
  --project-card-bg: #ffffff00;
  --text-color: #222;
  --form-text-color: #555;
  --footer-text-color: #888;
  --headings-text-color: #00FF2C;
}

[data-theme='dark'] {
  --background-color: #222;
  --btn-color: #fff;
  --btn-text-color: #222;
  --project-card-bg: #fff;
  --text-color: #fff;
  --form-text-color: #fff;
  --footer-text-color: #bbb;
  --headings-text-color: #00FF2C;
}


.up-arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    border: none;
    border-radius: 10%;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .up-arrow:hover {
    background-color: var(--btn-text-color);
    color: var(--btn-color);
    transform: scale(1.1);
  }
  