.container {
  text-align: center;
  width: min(1120px, calc(100vw - 32px));
  margin: 0 auto;
  padding: 24px 0 0;
  border-top: 1px solid var(--border-color);
  p {
    margin-top: 20px;
    font-size: 16px;
    color: var(--footer-text-color);
  }
}
